<!DOCTYPE html>
<html lang="en" dir="auto">

<head>
  <meta charset="utf-8">
  <title>Data Accessibility</title>
  <!--========== web tags ==========-->
  <meta name="description" content="Accessible Graphs" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--========== css files ==========-->
  <link rel="stylesheet" href="css/style.css" />
  <!---========== scripts ==========-->
  <script type="text/javascript" src="../javascript/scripts.js"></script>
  <script type="text/javascript" src="../javascript/audio.js"></script>

</head>

<body>
  <object data="{{{ svg_file }}}" alt='bar-graph' type="image/svg+xml" id="barplot" width="800" height="800">
    <audio id="theAudio" controls>
      <source src="../assets/piano/track1.mp3" type="audio/mp3">
    </audio>
  </object>
</body>

</html>