<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='svglite' width='720.00pt'
    height='720.00pt' viewBox='0 0 720.00 720.00'>

    <rect x='33.14' y='5.48' width='681.38' height='539.02' style='stroke-width: 1.07; stroke: none; fill: #EBEBEB;' />
    <polyline points='33.14,440.97 714.52,440.97 ' style='stroke-width: 0.53; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='33.14,282.90 714.52,282.90 ' style='stroke-width: 0.53; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='33.14,124.82 714.52,124.82 ' style='stroke-width: 0.53; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='33.14,520.00 714.52,520.00 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='33.14,361.93 714.52,361.93 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='33.14,203.86 714.52,203.86 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='33.14,45.79 714.52,45.79 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='89.92,544.50 89.92,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='184.56,544.50 184.56,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='279.19,544.50 279.19,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='373.83,544.50 373.83,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='468.47,544.50 468.47,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='563.10,544.50 563.10,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <polyline points='657.74,544.50 657.74,5.48 ' style='stroke-width: 1.07; stroke: #FFFFFF; stroke-linecap: butt;' />
    <rect class='data' x='47.33' y='480.48' width='85.17' height='39.52'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />
    <rect class='data' x='141.97' y='148.53' width='85.17' height='371.47'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />
    <rect class='data' x='236.61' y='195.96' width='85.17' height='324.05'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />
    <rect class='data' x='331.24' y='433.06' width='85.17' height='86.94'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />
    <rect class='data' x='425.88' y='259.18' width='85.17' height='260.82'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />
    <rect class='data' x='520.52' y='243.38' width='85.17' height='276.63'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />
    <rect class='data' x='615.15' y='29.98' width='85.17' height='490.02'
        style='stroke-width: 1.07; stroke: none; stroke-linecap: square; stroke-linejoin: miter; fill: #595959;' />


    <script type="text/ecmascript">[
            (function () {
                var bars = document.getElementsByClassName('data');
                let selectedCell = null;
                let focus = 0;
                updateSelectedCell(bars[0])


                document.addEventListener('keydown', navigateGrid)
                for (var i = 0; i < bars.length; i++) {
                    bars[i].addEventListener('click', onClick);
                }


                function onClick(event) {
                    for (var i = 0; i < bars.length; i++) {
                        if (bars[i] == event.currentTarget) {
                            focus = i;
                        }
                    }

                    updateSelectedCell(event.currentTarget);
                    event.preventDefault();
                }

                function updateSelectedCell(cell) {
                    for (var i = 0; i < bars.length; i++) {
                        bars[i].style.fill = '#595959';
                    }
                    selectedCell = cell;
                    selectedCell.style.fill = '#ffff4d';

                }


                function navigateGrid(event) {
                    let newFocusedCell = null;
                    switch (event.key) {
                        case 'ArrowLeft':
                            if (focus == 0) {
                                break;
                            }
                            else if (focus >= 1) {
                                focus = focus - 1;
                                newFocusedCell = bars[focus];
                                break;
                            }
                        case 'ArrowRight':
                            if (focus < bars.length - 1) {
                                focus = focus + 1;
                                newFocusedCell = bars[focus];

                            }
                    }
                    if (newFocusedCell !== null) {
                        updateSelectedCell(newFocusedCell);
                    }
                }



            })()
        ]
    </script>
</svg>